.buttonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: background-color 0.2s;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    border:2px solid var(--main-border);
    border-radius: 5px;
    color:black;
    font-weight: bold;
    max-height: 21px;
}

.buttonStyle:hover {
    background-color: var(--main-hover);
}