.textContainer {
    flex: 1;
    padding: 5px;
    border: 2px solid var(--main-color);
    font-size: 16px;
    resize: none;
    outline: none;
    border-radius: 10px;
    width: 250px;
}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color:rgb(202, 196, 199);
}